
  body {
            margin: 0;
            padding: 0;
            background-color: white; /* Fundo branco */
            color: black; /* Cor do texto */
        }


        
.navbar {
            background-color: #02133e;
        }
        .navbar-brand, .nav-link, .dropdown-item {
            color: #ffffff !important;
        }
        .nav-link:hover, .dropdown-item:hover {
            color: #ffc107 !important;
        }
       



 .card {
            margin-bottom: 30px;
            background-color: #02133e; /* Mesma cor do menu */
            color: white;
        }
        .card-img {
            max-height: 300px; /* Altura máxima para imagens do cartão */
            object-fit: cover; /* Ajuste de imagem */
        }
        



.section-header {
            margin: 50px 0;
            color: #ffc107;
        }
        


footer {
            background-color: #02133e;
            color: white;
            padding: 20px 0;
            text-align: center;
        }



/* alinhar_textos.css */

        .justificado {
            text-align: justify;
        }
        .centralizado {
            text-align: center;
        }
        .esquerda {
            text-align: left;
        }
        .direita {
            text-align: right;
        }
        .destaque {
            font-weight: bold;
            font-style: italic;
        }
        .margem-personalizada {
            margin-left: 20px;
            margin-right: 20px;
        }




.container p {
    text-align: justify;
}  


         /* imagem ao lado */
        .area-imagem {
            flex-shrink: 0;
            width: 400px; /* ajuste o tamanho da imagem conforme necessário */
        }

        .area-imagem img {
            max-width: 100%;
            height: auto;
            border-radius: 8px;
        }

            .area-imagem {
                width: 100%;
                padding-top: 20px;
            }


   

           
